* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.displayContainer {
  margin: 30px 0;
  text-align: center;
}

.display {
  display: inline-block;
}

.line {
  display: block;
  position: absolute;
}

.character {
  display: inline-block;
  margin: 10px;
}

$biggerH: 100px;
$biggerW: 20px;

$bigH: 70px;
$bigW: 14px;

$normalH: 50px;
$normalW: 10px;

$smallH: 30px;
$smallW: 6px;

$smallerH: 20px;
$smallerW: 4px;

@mixin character($h, $w) {
  width: $h + $w;
  height: 2 * $h + $w;
  margin: $w/2;
  .line {
    clip-path: polygon(50% 0, 100% $w/2, 100% $h - $w/2, 50% 100%, 0 $h - $w/2, 0 $w/2);
    width: $w;
    height: $h;
  }
  .line0 {
    transform: rotate(-90deg) translate(-$w/2, 0px);
    transform-origin: top center;
  }
  .line1 {
    transform: translate(0px, $w/2);
  }
  .line2 {
    transform: translate($h, $w/2);
  }
  .line3 {
    transform: rotate(90deg) translate($w/2, 0px);
    transform-origin: center bottom;
  }
  .line4 {
    transform: translate(0px, $h + $w/2);
  }
  .line5 {
    transform: translate($h, $h + $w/2);
  }
  .line6 {
    transform: translate(0px, $h + $w/2) rotate(90deg);
    transform-origin: center bottom;
  }
}

.character.bigger {
  @include character($biggerH, $biggerW);
}
.character.big {
  @include character($bigH, $bigW);
}
.character.normal {
  @include character($normalH, $normalW);
}
.character.small {
  @include character($smallH, $smallW);
}
.character.smaller {
  @include character($smallerH, $smallerW);
}
